<?xml version="1.0" encoding="UTF-8"?>
<?include Variables.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  
  <!--Shortcut in menu-->
  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="9bd13330-6540-406f-a3a8-d7f7c69ae7f9">
        <Condition>IS_CREATE_MENUSHORTCUT</Condition>
        <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ProductName)" Description="ProductName" Target="[INSTALLFOLDER]$(var.AppName).exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />        
        <RegistryValue Root="HKCU" Key="$(var.RegistryKey)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!--Shortcut on desktop-->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="cde1e030-eb64-49a5-b7b8-400b379c2d1a">
        <Condition>IS_CREATE_DESKTOPSHORTCUT</Condition>
        <Shortcut Id="ApplicationDesktopShortcut" Name="$(var.ProductName)" Description="ProductName" Target="[INSTALLFOLDER]$(var.AppName).exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="$(var.RegistryKey)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>
